/* Header */

header {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

header .main-image {
    width: 214px;
    height: 70px;
    background: url("../images/bus_toolkit.png") no-repeat;
}

header .main-image:hover {
    background: url("../images/bus_toolkit_hover.png") no-repeat;
    cursor: pointer;
}

.head-s1 {
    float: right;
    padding: 26px 20px 28px 20px;
}

.head-s1:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

.head-s2 {
    float: right;
    padding: 26px 20px 28px 20px;
    border-right: 1px solid #ffffff
}

.head-s2:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

/* Hero section */

.hero {
    background: url('../images/bg.jpg') center center;
    height: 360px;
    background-size: cover;
    background-position: fixed;
}

.hero-content {
    padding: 0 20px 0 20px;
    text-align: center;
}

.hero-content img {
    margin-top: 80px;
    width: 100%;
    max-width: 537px
}

.hero button {
    padding: 7px 18px;
    margin-top: 27px;
    color: #ffffff;
    border-radius: 0px !important;
    background-color: #5dc8dd;
}

.hero button:hover {
    color: #ffffff;
    border-radius: 0px !important;
    background-color: #000000;
}

/* Account section */

.account {
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);
    position: relative;
    width: 100%;
    background-color: #ffffff;
}

.account button {
    margin-right: 18px;
    padding: 7px 18px;
    border-radius: 0 !important;
    background-color: #15a33c;
    color: #ffffff;
}

.account button:hover {
    color: #ffffff;
    background-color: #000000;
}

.account .login-links {
    margin: 0 auto;
    margin-top: 15px;
}

.account .login-links .link {
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    margin: 10px 18px 0 0;
}

/* Resources */

.resources {
    background-color: #aeacac;
    padding: 40px 0 40px 0;
}

/* Resources boxes */

.resources .box-white {
    background-color: #ffffff;
    padding: 20px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: left;
    position: relative;
}

.resources .box-white:hover {
    border: 1px solid black;
}

.resources .box-white .img-cont img {
    padding: 10px;
}

.resources .img-cont {
    display: table-cell;
    padding-right: 5px;
}

.resources .box-white .text {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 29px;
    line-height: 0.96;
    vertical-align: middle;
    display: table-cell;
    font-weight:bold;
}

.resources .box-white .desc {
    font-size: 15px;
    padding: 18px 40px 0 10px;
    font-family: 'Montserrat', sans-serif;
}

.resources .box-white .arrow {
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    padding: 15px 0 15px 18px;
}

.resources .box-white .arrow:hover {
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    padding: 15px 0 15px 18px;
    cursor: pointer;
}

.arrow {
    background-color: #5dc8dd;
}

.arrow:hover {
    background-color: #000000;
    cursor: pointer;
}

/* About */

.about {
    background-color: #f0f0f0;
    padding: 30px
}

.about h3 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
}

.about p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
}

/* Newsletter */

.newsletter {
    background-color: #dcdcdc;
    padding: 30px;
    font-family: 'Montserrat', sans-serif
}

#email {
    height: 36px
}

.form-newsletter {
    width: 260px;
    display: inline-block;
    vertical-align: middle;
}

/* Bottom nav */

.bottom-nav {
    background-color: #000000;
    font-family: sans-serif;
}

.bottom-nav ul li {
    color: #ffffff;
    float: left;
    padding: 26px 20px 28px 20px;
    border-left: 1px solid #ffffff;
    font-weight:bold;
}

.bottom-nav ul li:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

.bottom-nav ul li:last-child {
    border-right: 1px solid #ffffff
}

.bottom-nav .nav-container {
    padding: 0 50px 0 50px
}

/* Footer */

footer {
    padding: 30px;
}

footer .link {
    padding: 0 0 40px 40px;
}

footer .copyright {
    padding: 20px 20px 30px 20px;
}

/* Other */

body a {
    color: #5dc8dd;
}

body a:hover {
    color: #5dc8dd;
    text-decoration: underline;
}

.pl-15 {
    padding-left: 15px
}

.pb-10 {
    padding-bottom: 10px
}

.pt-10 {
    padding-top: 10px
}

.pt-20 {
    padding-top: 20px
}

.pr-15 {
    padding-right: 15px
}

.pr-20 {
    padding-right: 20px
}

.p-20 {
    padding: 20px
}

.header-text {
    color: #5b5b5b;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.section:after {
    content: "";
    display: table;
    clear: both;
}

.row-no-padding>[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Media Queries */

@media (min-width: 992px) {
    .box-white {
        min-height: 200px;
    }
}

@media (max-width:680px) {
    .bottom-nav ul li {
        width: 100%;
    }
    .bottom-nav ul li:last-child {
        border-right: unset;
    }
}